---
http_interactions:
- request:
    method: get
    uri: https://itunes.apple.com/us/lookup?id=599015198
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apple-Jingle-Correlation-Key:
      - 7UTAJSWFCHTFJQ7G5BZVCPW2EA
      X-Apple-Translated-Wo-Url:
      - "/WebObjects/MZStoreServices.woa/ws/wsLookup?id=599015198&cc=us&urlDesc="
      X-Apple-Orig-Url:
      - https://itunes.apple.com/us/lookup?id=599015198
      X-Apple-Application-Site:
      - NWK
      Apple-Timing-App:
      - 23 ms
      Content-Type:
      - text/javascript; charset=utf-8
      X-Apple-Application-Instance:
      - '1001228'
      X-Webobjects-Loadaverage:
      - '0'
      X-Apple-Ats-Cache-Key:
      - "/17.154.42.220/80/us/lookup/iDevice/https?id=599015198"
      X-Apple-Partner:
      - origin.0
    body:
      encoding: UTF-8
      string: "\n\n\n{\n \"resultCount\":1,\n \"results\": [\n{\n\"screenshotUrls\":[\"http://a3.mzstatic.com/us/r30/Purple6/v4/df/07/a9/df07a960-0619-57d3-38f3-7f23f8e007d9/screen1136x1136.jpeg\",
        \"http://a1.mzstatic.com/us/r30/Purple6/v4/86/ce/84/86ce84d2-b2cb-3043-39d9-376eef55346b/screen1136x1136.jpeg\",
        \"http://a2.mzstatic.com/us/r30/Purple3/v4/e7/4e/65/e74e65a0-dab9-d9b0-ea06-3850d42bdc8e/screen1136x1136.jpeg\",
        \"http://a1.mzstatic.com/us/r30/Purple69/v4/22/14/c1/2214c1d7-aa74-613a-d852-cc50cd8163e0/screen1136x1136.jpeg\",
        \"http://a2.mzstatic.com/us/r30/Purple3/v4/f9/ec/7f/f9ec7f99-1953-6399-c2fb-313e3ceb267f/screen1136x1136.jpeg\"],
        \n\"ipadScreenshotUrls\":[\"http://a2.mzstatic.com/us/r30/Purple3/v4/04/01/99/04019908-f41e-6f38-9d8d-be3c3c2800d2/screen480x480.jpeg\",
        \"http://a1.mzstatic.com/us/r30/Purple69/v4/ae/d8/41/aed8410d-c816-c810-c1a7-daca2a031e34/screen480x480.jpeg\",
        \"http://a4.mzstatic.com/us/r30/Purple3/v4/63/da/c9/63dac96a-eb2e-d705-9cbd-e7286b1ee402/screen480x480.jpeg\",
        \"http://a3.mzstatic.com/us/r30/Purple69/v4/86/41/c3/8641c3d7-8c17-4b93-bfa3-4059ac36c46f/screen480x480.jpeg\",
        \"http://a5.mzstatic.com/us/r30/Purple6/v4/32/8c/c7/328cc7eb-cf95-a840-bf28-6d19481c8e35/screen480x480.jpeg\"],
        \"artworkUrl512\":\"http://is1.mzstatic.com/image/thumb/Purple6/v4/3e/7b/07/3e7b0754-fff5-55f2-3a8c-fe22ddd7288a/source/512x512bb.jpg\",
        \"artistViewUrl\":\"https://itunes.apple.com/us/developer/gleam-s.a./id751126884?uo=4\",
        \"artworkUrl60\":\"http://is1.mzstatic.com/image/thumb/Purple6/v4/3e/7b/07/3e7b0754-fff5-55f2-3a8c-fe22ddd7288a/source/60x60bb.jpg\",
        \"isGameCenterEnabled\":false, \"kind\":\"software\", \"features\":[\"iosUniversal\"],
        \n\"supportedDevices\":[\"iPhone4\", \"iPad2Wifi\", \"iPad23G\", \"iPhone4S\",
        \"iPadThirdGen\", \"iPadThirdGen4G\", \"iPhone5\", \"iPodTouchFifthGen\",
        \"iPadFourthGen\", \"iPadFourthGen4G\", \"iPadMini\", \"iPadMini4G\", \"iPhone5c\",
        \"iPhone5s\", \"iPhone6\", \"iPhone6Plus\", \"iPodTouchSixthGen\"], \"advisories\":[],
        \"fileSizeBytes\":\"39020465\", \"trackContentRating\":\"4+\", \"languageCodesISO2A\":[\"EN\",
        \"FR\", \"DE\", \"KO\", \"PT\", \"ES\", \"TR\"], \"trackViewUrl\":\"https://itunes.apple.com/us/app/gleam-your-fashion-app-for/id599015198?mt=8&uo=4\",
        \"contentAdvisoryRating\":\"4+\", \"trackCensoredName\":\"Gleam - your fashion
        app for inspiration and shopping\", \"currency\":\"USD\", \"wrapperType\":\"software\",
        \"version\":\"4.1\", \"artistId\":751126884, \"artistName\":\"Gleam, S.A.\",
        \"genres\":[\"Lifestyle\"], \"price\":0.00, \n\"description\":\"** Looking
        for inspiration on what to wear?\\n** You want to buy a new pair of jeans
        and don't want to look in thousands of online stores?\\n** You like to buy
        from Nike but you want to know the latest styles from Puma or Adidas?\\n\\nThen,
        Gleam will become your favorite fashion app. You can now buy the latest trends
        or the most vintage looks with one click. Gleam has the best international
        and national brands and a curated fashion stream.\\n\\n[...]
